################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/SreelekhaSangitha/Module 4/PredicateDelegates/.vs/PredicateDelegates/v16
