################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/ZhangTianyi/Module5/ConsoleApp1/.vs/ConsoleApp1/v16
/ON/ZhangTianyi/Module5/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild
/ON/ZhangTianyi/Module6/ConsoleApp1/.vs/ConsoleApp1/v16
/ON/ZhangTianyi/Module 4/ConsoleApp1/.vs/ConsoleApp1
/ON/ZhangTianyi/Module 4/PredicateDelegates/.vs/PredicateDelegates/v16
/ON/ZhangTianyi/Module5/Abstraction/.vs/Abstraction/v16
/ON/ZhangTianyi/Module5/Encapsulation/.vs/Encapsulation/v16
/ON/ZhangTianyi/Module5/Inheritance/.vs/Inheritance/v16
/ON/ZhangTianyi/Module5/StaticPolymprphism/.vs/StaticPolymprphism/v16
