################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ON/SreelekhaSangitha/Module 4/PredicateDelegates/.vs/PredicateDelegates/v16
/ON/SreelekhaSangitha/Module 5/Abstraction/.vs/Abstraction/v16
/ON/SreelekhaSangitha/Module 5/Abstraction/.vs/Abstraction/DesignTimeBuild
/ON/SreelekhaSangitha/Module 5/DynamicPolymorphism/.vs/DynamicPolymorphism/v16
/ON/SreelekhaSangitha/Module 5/Encapsulation/.vs/Encapsulation
/ON/SreelekhaSangitha/Module 5/Inheritance/.vs/Inheritance
/ON/SreelekhaSangitha/Module 5/StaticPolymorphism/.vs/StaticPolymorphism
/ON/SreelekhaSangitha/Module 6/DivideByZero/.vs/DivideByZero
/ON/SreelekhaSangitha/Module 6/ReadingFiles/.vs/ReadingFiles
/ON/SreelekhaSangitha/Module 6/UserDefinedExceptions/.vs/UserDefinedExceptions
/ON/SreelekhaSangitha/Module 6/WritingFiles/.vs/WritingFiles/v16
/ON/SreelekhaSangitha/Module 5/DynamicPolymorphism/.vs/DynamicPolymorphism/DesignTimeBuild
/ON/SreelekhaSangitha/Module 7/DBConnection/.vs/DBConnection/v16
/ON/SreelekhaSangitha/Module 9/MyFirstWebApp/.vs/MyFirstWebApp
/ON/SreelekhaSangitha/Module 10/FormValidation/.vs/FormValidation
